header .nav-link {
  position: relative;
  margin: 0 15px;
}

header .nav-item .nav-link.active {
  color: #35a22c !important;
}

header .nav-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #35a22c;
  transition: all 0.5s;
}

header .nav-link:hover::before {
  width: 100%;
}

header .active::before {
  width: 100%;
}

/* Xử lí khi hover vào nội dung nút điều hướng sẽ đổi màu chữ  */
header .nav-link:hover {
  color: #35a22c !important;
}

.carousel .carousel-caption img {
  width: 150px;
  height: 150px;
}

.carousel .carousel-caption {
  /* left: 50%;
    top: 50%; */
  /* transform nhận giá trị -âm cho 2 chiều giúp đẩy ngược phần tử lại nhằm mục đích canh giữa phần tử  */
  /* transform: translate(-50%, -50%);
    right: unset;
    bottom: unset; */

  top: 0;
  left: 0;
  background-color: rgba(39, 43, 54, 0.5);
  /* width: 100%;
    height: 100%; */
  right: 0;
  bottom: 0;
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project .nav-pills .nav-link.active {
  background-color: #35a22c;
  border-color: #35a22c;
}

.project button {
  color: black;
  border: 1px solid black;
}

.project .nav-link:hover {
  color: black;
}
.project .project_item {
  border-radius: 8px;
}
.project .project_item img {
  border-radius: 8px 8px 0 0;
  /* theo huong top left di ve tay phai */
}

.project h3 {
  font-size: 20px;
}

.project .project_item:hover h3 {
  color: #35a22c;
}
.project .project_text {
  border-radius: 0 0 8px 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid transparent;
  transition: all 0.5s;
  border-top: none;
}

.project .project_item:hover .project_text {
  border-color: #35a22c;
}

.available {
  margin: 20px 0;
  background-image: url(../img/3.jpg);
  background-size: cover;
  background-attachment: fixed;

  height: 60vh;
  padding: 50px 0;
  color: white;
  text-align: center;
  position: relative;
}
.available::before {
  content: "";
  position: absolute;
  background-color: rgba(7, 10, 12, 0.72);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* coi lai 9:00 */
}

.available .avai_content .avai_item {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* luu y dac biet khi sd max-width cho responsive : luon de cac gtri max-w lon hon nen nam tren  */
/* @media screen and (max-width: 1200px) {
  .carousel h5 {
    color: red;
  }
}

@media screen and (max-width: 576px) {
  .project_text {
    background-color: orange;
  }
} */

/* lay cac gtri lon hon 576px */
/* cho mobile first */
/* man hinh di tu nho cho den lon  */

/* @media screen and (min-width: 992px) {
  .carousel h5 {
    color: purple;
  }
}
@media screen and (min-width: 576px) {
  .carousel h5 {
    color: red;
  }
} */

/* maxw xet tu vung lon di len vung nho */

/* minw xet tu vung nho di len vung lon */

/* Luu y khi sd minw de res web nho set tu cac giatri nho truoc sau do moi toi lon */

/* hay chia tu thiet bi nho */
